:root {
  --base-contrast: #b8b2ab;
  --base-strong: #807d7b;
  --primary-accent: #7aa09b;
  --secondary-accent: #c7b7c3;
  --base: #e4e0dc;
  --text-color-primary: #000000;
  --text-color-accent: #5c5958;
  --text-color-secondary: #ffffff;
}

body {
  font-family: Helvetica, sans-serif;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#innerContainer {
  background-color: var(--base);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav,
#navRight {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-primary);
  text-transform: uppercase;
}

nav,
footer {
  padding: 20px 50px;
  background-color: var(--base-contrast);
}

#navRight {
  padding-right: 20px;
  gap: 30px;
  font-size: large;
  align-items: center;
  font-weight: 500;
}

#navRight a,
footer a,
#logo a {
  text-decoration: none;
  color: var(--text-color-primary);
}

#navRight a:hover,
footer a:hover,
#logo a:hover {
  text-decoration: underline;
}

#logo {
  font-size: x-large;
  font-weight: 700;
}

footer {
  text-align: center;
}

footer a {
  font-weight: 700;
}

#messageDiv {
  padding: 25px 25px;
  border-radius: 25px;
  background-color: var(--secondary-accent);
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#messageDiv h3 {
  font-weight: 700;
  font-size: large;
  margin: 10px 0px;
}

#messageDiv p {
  font-weight: 500;
  font-size: medium;
  font-style: italic;
  margin: 10px 0px;
}

#messageDiv #clickFinalMessage {
  font-weight: 900;
  color: var(--text-color-accent);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  padding-bottom: 0.5em;
  text-indent: -1em;
}

li:before {
  content: ">";
  font-weight: bolder;
  padding-right: 5px;
}

#messageDiv button,
#messageDiv input[type="submit"] {
  margin-top: 10px;
  min-width: 15vw;
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-color: var(--primary-accent);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color-primary);
}

#messageDiv button:hover,
#messageDiv input[type="submit"]:hover {
  cursor: pointer;
  background-color: #8baaa6;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#messageDiv input {
  margin: 2px 0px;
}

#messageDiv label {
  font-size: small;
  font-style: italic;
  margin: 5px 0px;
}

#priority label {
  margin: 0px 10px;
}

#checklistLabel {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}

#dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#dashboard > div {
  padding: 25px 25px;
  border-radius: 25px;
  background-color: var(--secondary-accent);
  height: 70vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  min-width: 25vw;
}

.singleProject,
.singleToDo {
  background-color: var(--base);
  border-radius: 10px;
  padding: 25px 25px;
  font-weight: 500;
  font-size: large;
}

.singleToDo {
  background-color: var(--primary-accent);
}

.singleProject:hover,
.singleToDo:hover {
  background-color: var(--primary-accent);
  color: var(--base);
  cursor: pointer;
  font-weight: bold;
}

.singleToDo:hover {
  background-color: var(--base);
  color: var(--text-color-primary);
}

#dashboard h2 {
  margin-bottom: 20px;
  font-weight: 700;
}

#singleItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todoPriority {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#todoPriority > div:hover {
  font-weight: bold;
}

#singleItem div {
  padding: 7px 15px;
  border-radius: 25px;
  background-color: var(--base);
  cursor: pointer;
  max-width: 20vw;
}

#singleItem button {
  margin-top: 5px;
}

#singleItem > div:hover {
  background-color: var(--primary-accent);
  color: var(--base);
  cursor: pointer;
  font-weight: bold;
}

#singleItem #todoPriority:hover {
  background-color: var(--base);
  color: var(--text-color-primary);
  cursor: pointer;
  font-weight: normal;
}

#dashboard button {
  min-width: 15vw;
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-color: var(--base-strong);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color-secondary);
  cursor: pointer;
}

#dashboard button:hover {
  background-color: var(--base);
  color: var(--text-color-primary);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.todoLabel {
  font-style: italic;
  font-size: small;
}
